openapi: 3.0.3
info:
  title: SurrealDB HTTP API
  description: The HTTP endpoints enable simple selection and modifications of all records or a single record in a table, in addition to support for custom SurrealQL queries with multiple statements, using traditional RESTful HTTP url endpoints.
  version: 1.0.0
paths:

  /status:
    get:
      summary: /status
      description: Checks whether the database web server is running.
      responses:
        '200':
          description: 'Success'
        '500':
          description: 'Failure'

  /health:
    get:
      summary: /health
      description: Checks the status of the database server and storage engine.
      responses:
        '200':
          description: 'Success'
        '500':
          description: 'Failure'

  /export:
    get:
      summary: /export
      description: Checks the status of the database server and storage engine.
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      responses:
        '200':
          description: 'Export successful'
          content:
            text/plain:
              examples:
                /export:
                  value: |+
                    -- ------------------------------
                    -- OPTION
                    -- ------------------------------

                    OPTION IMPORT;

                    -- ------------------------------
                    -- TABLE: person
                    -- ------------------------------

                    DEFINE TABLE person SCHEMALESS PERMISSIONS NONE;

                    -- ------------------------------
                    -- TRANSACTION
                    -- ------------------------------

                    BEGIN TRANSACTION;

                    -- ------------------------------
                    -- TABLE DATA: person
                    -- ------------------------------

                    UPDATE person:one CONTENT { id: person:one, name: 'Joe Bloggs' };
                    UPDATE person:test CONTENT { account: account:test, id: person:test, tester: true };
                    UPDATE person:two CONTENT { id: person:two, name: 'Elizabeth Hurdle' };

                    -- ------------------------------
                    -- TRANSACTION
                    -- ------------------------------

                    COMMIT TRANSACTION;


  /import:
    post:
      summary: /import
      description: Checks the status of the database server and storage engine.
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      requestBody:
        content:
          text/plain:
            examples:
              /import:
                value: |+
                  -- ------------------------------
                  -- OPTION
                  -- ------------------------------

                  OPTION IMPORT;

                  -- ------------------------------
                  -- TABLE: person
                  -- ------------------------------

                  DEFINE TABLE person SCHEMALESS PERMISSIONS NONE;

                  -- ------------------------------
                  -- TRANSACTION
                  -- ------------------------------

                  BEGIN TRANSACTION;

                  -- ------------------------------
                  -- TABLE DATA: person
                  -- ------------------------------

                  UPDATE person:one CONTENT { id: person:one, name: 'Joe Bloggs' };
                  UPDATE person:two CONTENT { id: person:two, name: 'Elizabeth Hurdle' };

                  -- ------------------------------
                  -- TRANSACTION
                  -- ------------------------------

                  COMMIT TRANSACTION;

      responses:
        '200':
          description: 'Import successful'

  /key/{table}:

    get:
      summary: /key/:table
      description: |-
        This HTTP RESTful endpoint selects all records from a specific table in the database. It is equivalent to running:

        ``` sql
        SELECT * FROM type::table($table);
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the records to select
      responses:
        '200':
          description: 'Records selected successfully'

    post:
      summary: /key/:table
      description: |-
        This HTTP RESTful endpoint creates a record in a specific table in the database. The supplied request body is used as the content of the record, and is equivalent to running:

        ``` sql
        CREATE type::table($table) CONTENT $body;
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the record to create
      requestBody:
        content:
          text/plain:
            examples:
              /key/:table:
                value: |-
                  {
                      account: account:test,
                      tester: true,
                  }
      responses:
        '200':
          description: 'Record created successfully'

    put:
      summary: /key/:table
      description: |-
        This HTTP RESTful endpoint updates all records in a specific table in the database. It replaces the record content with the supplied request data, and is equivalent to running:

        ``` sql
        UPDATE type::table($table) CONTENT $body;
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the records to update
      requestBody:
        content:
          text/plain:
            examples:
              /key/:table:
                value: |-
                  {
                      account: account:test,
                      tester: true,
                  }
      responses:
        '200':
          description: 'Records updated successfully'

    patch:
      summary: /key/:table
      description: |-
        This HTTP RESTful endpoint updates all records in a specific table in the database. It merges the supplied request data with the records in the table, and is equivalent to running:

        ``` sql
        UPDATE type::table($table) MERGE $body;
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the records to update
      requestBody:
        content:
          text/plain:
            examples:
              /key/:table:
                value: |-
                  {
                      account: account:test,
                      tester: true,
                  }
      responses:
        '200':
          description: 'Records updated successfully'

    delete:
      summary: /key/:table
      description: |-
        This HTTP RESTful endpoint deletes all records from a specific table in the database. It is equivalent to running:

        ``` sql
        DELETE type::table($table);
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the records to delete
      responses:
        '200':
          description: 'Records deleted successfully'

  /key/{table}/{id}:

    get:
      summary: /key/:table/:id
      description: |-
        This HTTP RESTful endpoint selects a specific record from a table in the database. It is equivalent to running:

        ``` sql
        SELECT * FROM type::thing($table, $id);
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the record to select
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: test
        description: The id of the record to select
      responses:
        '200':
          description: 'Record selected successfully'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    result:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: person:test
                          some:
                            type: boolean
                            example: true
                      example:
                      - id: person:test
                        some: true
                    status:
                      type: string
                      example: OK
                    time:
                      type: string
                      example: 817.291µs
                example:
                - result:
                  - id: person:test
                    some: true
                  status: OK
                  time: 817.291µs
              examples:
                /key/:table/:id:
                  value:
                  - result:
                    - id: person:test
                      some: true
                    status: OK
                    time: 817.291µs

    post:
      summary: /key/:table/:id
      description: |-
        This HTTP RESTful endpoint creates a specific record in a table in the database. The supplied request body is used as the content of the record, and is equivalent to running:

        ``` sql
        CREATE type::thing($table, $id) CONTENT $body;
        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the record to create
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: test
        description: The id of the record to create
      requestBody:
        content:
          text/plain:
            examples:
              /key/:table/:id:
                value: |-
                  {
                      account: account:test,
                      tester: true,
                  }
      responses:
        '200':
          description: 'Record created successfully'

    put:
      summary: /key/:table/:id
      description: |-
        This HTTP RESTful endpoint updates a specific record in a table in the database. The supplied request body is used as the content of the record, and is equivalent to running:

        ``` sql
        UPDATE type::thing($table, $id) CONTENT $body;
        ```
      parameters:
      - name: tags
        in: query
        schema:
          type: string
          example: '[''rust'', ''developer'']'
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the record to update
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: test
        description: The id of the record to update
      requestBody:
        content:
          text/plain:
            examples:
              /key/:table/:id:
                value: |-
                  {
                      account: account:test,
                      tester: true,
                  }
      responses:
        '200':
          description: 'Record updated successfully'

    patch:
      summary: /key/:table/:id
      description: |-
        This HTTP RESTful endpoint updates a specific record in a table in the database. It merges the supplied request data with the records in the table, and is equivalent to running:

        ``` sql
        UPDATE type::thing($table, $id) MERGE $body;

        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the record to update
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: test
        description: The id of the record to update
      requestBody:
        content:
          text/plain:
            examples:
              /key/:table/:id:
                value: |-
                  {
                      account: account:test,
                      tester: true,
                  }
      responses:
        '200':
          description: 'Record updated successfully'

    delete:
      summary: /key/:table/:id
      description: |-
        This HTTP RESTful endpoint deletes a specific record from a table in the database. It is equivalent to running:

        ``` sql
        DELETE type::thing($table, $id);

        ```
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      - name: table
        in: path
        required: true
        schema:
          type: string
          example: person
        description: The table of the record to delete
      - name: id
        in: path
        required: true
        schema:
          type: string
          example: test
        description: The id of the record to delete
      responses:
        '200':
          description: 'Record deleted successfully'

  /sql:

    post:
      summary: /sql
      description: The SQL endpoint enables running advanced SurrealQL queries. This HTTP endpoint expects the HTTP body to be one or more SurrealQL statements, separated by a semicolon.
      parameters:
      - name: NS
        in: header
        schema:
          type: string
          example: '{{namespace}}'
        description: Sets the selected Namespace for queries
      - name: DB
        in: header
        schema:
          type: string
          example: '{{database}}'
        description: Sets the selected Database for queries
      requestBody:
        content:
          text/plain:
            examples:
              /sql:
                value: |-
                  BEGIN TRANSACTION;
                  UPDATE person:one SET name = 'Joe Bloggs';
                  UPDATE person:two SET name = 'Elizabeth Hurdle';
                  LET $people = SELECT * FROM person;
                  RETURN $people;
                  COMMIT TRANSACTION;
      responses:
        '200':
          description: 'Request completed successfully'

  /version:
    get:
      summary: /version
      description: Returns the version of the SurrealDB database server.
      responses:
        '200':
          description: 'Success'
